/* About.css */
.about-container {
  color: #f8f8f2;
  font-family: "Open Sans", sans-serif;
  margin: 20px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  border-radius: 15px;
  padding: 20px;
  background-image: linear-gradient(135deg, #ff79c6, #bd93f9, #8be9fd);
  padding: 3px;
}

.about-content {
  background: #282a36;
  border-radius: 15px;
  display: flex;
  align-items: flex-start;
  padding: 20px;
}

.about-profile {
  flex: 0 0 230px;
  margin-right: 20px;
  position: relative;
}

.about-photo {
  width: 100%;
  height: auto;
  border-radius: 50%;
  border: 3px solid transparent;
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, #ff79c6, #bd93f9, #8be9fd);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.about-below-photo {
  margin-top: 20px;
  text-align: center; /* Centraliza os texto do profile com a foto */
  min-height: 245px;
}

.about-below-photo p {
  color: #f8f8f2;
  line-height: 1.7;
  margin: 10px 0px;
}

.about-info {
  flex: 1;
}

.about-info h2,
.about-info h3 {
  background: linear-gradient(45deg, #ff79c6, #bd93f9, #8be9fd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-info p {
  color: #f8f8f2;
  line-height: 1.6;
  margin-top: 10px;
  margin-bottom: 20px;
}

.about-below-photo a {
  color: #8be9fd;
  text-decoration: none;
}

/* copied from resend */
.rainbowBorderWrapper {
  display: inline-flex; /* Utiliza flexbox para centralização */
  border-radius: 9999px; /* Arredondamento da borda */
  background: linear-gradient(90deg, #ff79c6, #bd93f9, #8be9fd); /* Gradiente */
  padding: 1px; /* Espaço para o gradiente aparecer como borda */
  line-height: 0; /* Corrige o alinhamento da linha */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  max-width: 50%;
  margin-right: 5px;
}

.profile-web-link {
  display: flex; /* Habilita flexbox para os itens internos */
  align-items: center; /* Centraliza verticalmente os itens internos */
  justify-content: center; /* Centraliza horizontalmente os itens internos */
  min-width: 50px; /* Largura mínima conforme solicitado */
  padding: 10px 20px; /* Espaçamento interno */
  font-size: 14px; /* Tamanho do texto */
  background: #282a36; /* Cor de fundo do link */
  color: white; /* Cor do texto, assumindo que seja branca para contrastar */
  text-decoration: none; /* Remove o sublinhado do link */
  border-radius: 9999px; /* Arredondamento da borda */
  margin: 0; /* Remove qualquer margem padrão */
  transition: all 0.3s; /* Suaviza a transição de efeitos */
}

.profile-web-link:hover {
  transform: translateY(-0.5px); /* Efeito de leve elevação ao passar o mouse */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para efeito de elevação */
}