/* App.css */
.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #000;
}

/* This ensures that the footer (if there is one) sticks to the bottom of the page */
/* If a footer is added later */
.footer {
  margin-top: auto;
}
