/* App.css */
.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #000;
}

.footer {
  margin-top: auto;
}

/* Responsividade para dispositivos móveis menores */
@media (max-width: 767px) {
  /* Ajustes para smartphones aqui */
  .App {
    flex-direction: column;
  }

  .footer {
    padding: 20px;
  }
}
