/* TopSkills.css */
h2,
h3 {
  text-transform: uppercase;
}

.skills-container {
  color: #fff;
  padding: 20px;
  margin: 20px auto;
  font-family: "Arial", sans-serif;
  text-align: center;
  max-width: 70%;
  margin-top: 60px;
}

.skills-container h2 {
  font-size: 4rem;
  margin-bottom: 20px;
  background: linear-gradient(45deg, #ff79c6, #bd93f9, #8be9fd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.skills-table-container {
  border-radius: 15px;
  overflow: hidden; /* Ensures child elements adhere to the container's border radius */
  padding: 3px; /* Matching the border thickness from Experiences */
  background-image: linear-gradient(135deg, #ff79c6, #bd93f9, #8be9fd);
}

.skills-table-content {
  background: #282a36;
  border-radius: 12px; /* Match the inner radius from Experiences for consistency */
  overflow: hidden; /* Ensures the table adheres to the rounded corners */
}

.skills-table {
  width: 100%;
  background-color: transparent; /* Make the table background transparent */
  border-collapse: collapse;
  position: relative;
}

.skills-table th,
.skills-table td {
  padding: 10px;
  border: 3px solid #343746; /* Adjusted border thickness to match Experiences */
}

.skills-table th {
  background-color: #343746;
  color: #ffffff;
}

.skills-table td {
  color: #f8f8f2;
}

@media (max-width: 767px) {
  .skills-container {
    width: 100%;
    margin: unset;
    max-width: unset;
    margin-top: 15px;
  }

  .skills-container h2 {
    font-size: 3rem;
  }

  .skills-table {
    display: block;
    overflow-x: auto;
  }
}
