/* TopSkills.css */
h2,
h3 {
  text-transform: uppercase;
}

.skills-container {
  color: #fff;
  margin: 20px auto;
  font-family: "Arial", sans-serif;
  text-align: center;
  max-width: 70%;
  margin-top: 60px;
}

.skills-container h2 {
  font-size: 4rem;
  margin-bottom: 40px;
  background: linear-gradient(45deg, #ff79c6, #bd93f9, #8be9fd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.skills-table-container {
  border-radius: 15px;
  overflow: hidden; /* Ensures child elements adhere to the container's border radius */
  padding: 3px; /* Matching the border thickness from Experiences */
  background-image: linear-gradient(135deg, #ff79c6, #bd93f9, #8be9fd);
  max-width: 900px;
  margin: auto;
}

.skills-table-content {
  background: #282a36;
  border-radius: 12px; /* Match the inner radius from Experiences for consistency */
  overflow: hidden; /* Ensures the table adheres to the rounded corners */

  max-width: 900px;
  margin: auto;
}

.skills-table {
  width: 100%;
  background-color: transparent; /* Make the table background transparent */
  border-collapse: collapse;
  position: relative;
}

.skills-table th,
.skills-table td {
  padding: 10px;
  border: 3px solid #343746; /* Adjusted border thickness to match Experiences */
}

.skills-table th {
  background-color: #343746;
  color: #ffffff;
}

.skills-table td {
  color: #f8f8f2;
}

/* TopSkills.css - Ajustes para responsividade em dispositivos móveis */

@media (max-width: 767px) {
  /* Remove margens e paddings que podem restringir a largura da tabela */
  .skills-container,
  .skills-table-container,
  .skills-table-content {
    margin: 0;
    max-width: none;
  }

  /* Ajusta o tamanho do container da tabela para ocupar toda a largura */
  .skills-container {
    width: 100%;
    margin-top: 15px;
  }

  .skills-container h2 {
    font-size: 3rem;
    margin-top: 30px;
  }

  /* Remove estilos que limitam a largura da tabela */
  .skills-table {
    width: auto; /* Permite que a tabela se expanda conforme o conteúdo */
    min-width: 100%; /* Garante que a tabela ocupe pelo menos 100% da largura */
    display: table; /* Utiliza o comportamento padrão de tabela para preenchimento */
  }

  /* Garante que as células da tabela se ajustem ao novo layout */
  .skills-table th,
  .skills-table td {
    box-sizing: border-box; /* Garante que o padding esteja incluso na largura definida */
    width: auto; /* Permite que o conteúdo determine a largura */
  }
}
